.categoriesScreen {
	max-width: 1500px;
	width: 90%;
	margin: auto;
}

.categoriesScreen__content {
	display: flex;
	flex-direction: column;
}

.categoriesScreen__title {
	margin-bottom: 40px;
	font-size: 26px;
}
.categoriesScreen__categoryCards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 15px;
}
