.buyersProtection {
	display: flex;
	align-items: flex-start;
	color: #707070;
	margin-top: 20px;
	margin-bottom: 20px;
}

.buyersProtection__icon {
	object-fit: contain;
	height: 20px !important;
	width: 20px !important;
	margin-right: 10px;
	color: #50b64a;
}

.buyersProtection__content {
	font-size: 14px;
}
.buyerProtection__title {
	color: black;
	margin-bottom: 5px;
}
.buyerProtection__text,
.buyerProtection__button {
	display: inline-block;
}
.buyerProtection__button {
	position: relative;
}
.buyerProtection__button button {
	border: none;
	outline: none;
	background-color: white;
	text-decoration: underline dotted;
	color: #363636;
	cursor: pointer;
	margin-left: 5px;
}
.buyerProtection__button button:hover {
	text-decoration: underline;
}

.buyerProtection__modal {
	position: absolute;
	top: -170px;
	left: -100px;
	font-size: 13px;
	color: #707070;
	box-shadow: 0 0 6px #bbb;
	border-radius: 5px;
	background-color: white;
	width: 190px;
	padding: 20px;
	list-style-position: inside;
	list-style-image: url('https://i.ibb.co/wg09Qpd/oie-transparent-7.png');
	cursor: context-menu;
	text-align: start;
	z-index: 950;
}

.buyerProtection__modal:after {
	content: ' ';
	position: absolute;
	right: 105px;
	bottom: -12px;
	border-top: 12px solid white;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: none;
}

.buyerProtection__modalLink {
	color: #363636;
	width: fit-content;
	text-decoration: underline dotted;
	margin-top: 20px;
}
.buyerProtection__modalLink:hover {
	text-decoration: underline;
}
