.accountSettingsScreen__googleIcon {
	margin-top: 30px;
	object-fit: contain;
	height: 100px;
	width: 100px;
}
.accountSettingsScreen__googleText {
	font-size: 14px;
}
.accountSettingsScreen__googleLinkPassword {
	color: #1c7ece;
}

